{% extends "base.html" %}

{% load staticfiles %}

{% block additionalCss %}
<link rel="stylesheet" href="{% static "css/contact.css" %}" media="screen, projection" />
{% endblock %}


{% block content %}
<form action="/contact/" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="formField">
        {{ form.name.errors }}
      <label for="id_senderName">Your name</label>{{ form.senderName }}
    </div>
    <div class="formField">
        {{ form.email.errors }}
        <label for="id_senderEmail">Your email</label>{{form.senderEmail}}
    </div>
    <div class="formField">
        {{ form.subject.errors }}
        <label for="id_subject">Subject:</label>{{form.subject}}
    </div>
    <div class="formField">
        {{ form.message.errors }}
        {{form.message}}
    </div>
    <div class="formField">
        {{ form.cc_myself.errors }}
        {{form.cc_myself}}<label for="id_cc_myself">CC Yourself ?</label> <input type="submit" value="Send message" />
    </div>
   
    
</form>












{% endblock %}