@CHARSET "ISO-8859-1";

form{
	
	margin: auto;
	text-align:center;
}

.formField{
	margin-top: 5px;
	margin-bottom: 5px;
}
form label{
	font-weight:normal;
	font-size:0.8em;
	margin-right: 10px;
}

input, textarea{
	
  padding: 2px;
  border: 1px solid black;
 font-size:0.8em;
  border-radius: 5px;
  outline: none;
}


input:focus, textarea:focus{
	box-shadow: 0 0 2px 2px black;
	
}

